<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!--
	BASED ON Fixduty template
http://w3layouts.com/preview/?l=/fixduty-a-corporate-business-flat-responsive-web-template/
-->
<!--
Redesign by Didier Laureaux
And I have add comment in code.
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Game Of Thrones - Free HTML/CSS Responsive Template</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/swipebox.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
 

<body><!--Body start-->
	<div class="header1" id="head">
		<div class="header-top">
				<div class="container">
			<div class="logo">
				<a href="/"><img src="images/logo.png"></a><!--Put your logo here-->
				</div>
				<div class="top-menu">
					<span class="menu"> </span>
					<!--Menu-->
				<ul>
					<li><a href="/" class="scroll" class="scroll">home</a></li>
						<li><a href="grafikbar" class="scroll">Grafik Bar</a></li>
						 	<li><a href="pencarian" class="active">Pencarian</a></li>
								 <li><a href="graftakberarah" class="scroll">Graf tidak berarah</a></li>
						</ul>
						<!--End Menu-->
					</div>
					 <!--script-nav-->
		 <script>
		 $("span.menu").click(function(){
		 $(".top-menu ul").slideToggle("slow" , function(){
		 });
		 });
		 </script>
				<div class="clearfix"> </div>
					</div>
					</div>

                    <div class="wrap">
                        <div class="search">
                           <input type="text" class="searchTerm" placeholder="Ketik untuk mencari..">
                           <button type="submit" class="searchButton">
                             <i class="fa fa-search"></i>
                          </button>
                        </div>
                     </div>
</div> <!--End Slider Section-->

	</body>
</html>